* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #bb9d48;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

h3 {
  margin: 5px 0;
}

section {
  padding: 5px;
  border: 2px solid darkgoldenrod;
  background-color: lightgoldenrodyellow;
  margin-bottom: 20px;
  overflow: auto;
}

#content-1 img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* ignora toda a flutuação que existe à esquerda. */
#content-2 {
  clear: left;
}

#content-2 img {
  float: right;
}

nav {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}

header li {
  display: inline-block;
}

nav ul {
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

nav #login {
  float: right;
}


